<div class="navbar">
    <nav>
        <div class="flex">
          <a href="#" class="login">Login</a>
          <a href="#" class="main" >Main</a>
          <div class="menu_dropdown">
            <a href="catalogue.html" class="catalogue">Catalogue</a>              
            <div id="sub-menu" class="menu_content">
              <div class="submenu_content">
                <a href="#photographers">Photographers</a>
                <a href="#videographers">Videographers</a>
                <a href="#banquet-halls">Banquet halls</a>
                <a href="#cars">Cars</a>
                <a href="#flowers">Flowers</a>
                <a href="#presenters">Presenters</a>
                <a href="#organizers">Organizers</a>
                <a href="#decorators">Decorators</a>
                <a href="#stylists">Stylists</a>
                <a href="#registry-offices">Civil Registry Offices</a>
                <a href="#wedding-dresses">Wedding Dresses</a>
                <a href="#wedding-rings">Wedding Rings</a>
                <a href="#men-suits">Men's Suits</a>
                <a href="#bouquets">Bouquets</a>
              </div>
              <div class="submenu_content">
                <a href="#accessories">Accessories</a>
                <a href="#photo-booths">Photo Booths</a>
                <a href="#registrars">Registrars</a>
                <a href="#musicians">Musicians</a>
                <a href="#artists">Artists</a>
                <a href="#fireworks">Fireworks</a>
                <a href="#dj">DJ</a>
                <a href="#choreographers">Choreographers</a>
                <a href="#motor-ships">Motor Ships</a>
                <a href="#catering">Catering</a>
                <a href="#cakes">Cakes</a>
                <a href="#walking-places">Walking Places</a>
              </div>              
            </div>
          </div>
          <a href="others.html" class="main">Others</a>
          <a href="about.html" class="about">About</a>
        </div>
    </nav>
</div>
